html,
body,
div,
section,
header,
footer,
aside,
nav,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
article,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    box-sizing: border-box;
    font-family: sans-serif;
}
ol, ul { list-style: none; }
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
::-ms-clear {
    display: none;
}


*::-webkit-scrollbar {
    width: 6px;
    right: 50px;
}
*::-webkit-scrollbar-thumb {
    background-color: #B7BDCB;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(112, 124, 151, 0.15), 2px 2px 10px rgba(112, 124, 151, 0.1), 4px 4px 15px rgba(112, 124, 151, 0.05);
}
